﻿@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="input-group col-lg-6 col-md-6 col-sm-7 col-xs-8 help-block">
            <form id="savePlaylistForm" method="post" action="">
                <input id="playListNameInput" name="playListName" type="text" class="form-control" />
                <span class="input-group-btn">
                    <button class="btn" type="button" id="sendPlaylistButton">Zapisz</button>
                </span>
                <div class="alert alert-warning">Zapisuje obecnie istniejące youtubowe playery do playlisty</div>
            </form>
        </div>
    </div>
    <div class="row">
        <div>            
            <div>
                @Html.Partial("Menu")
            </div>
            <div class="col-lg-offset-8 col-md-offset-8 col-sm-offset-8 help-block">
                <div class="alert alert-warning">Przed "graj" kliknij w embedded video </div>
                <button id="playButton" class="btn btn-info" type="button">Graj <span class="glyphicon glyphicon-play"></span></button>
                <button id="nextButton" class="btn btn-info" type="button">Następne <span class="glyphicon glyphicon-forward"></span></button>
            </div>

            <div id="youtubeContainer">
                @*<div class="col-lg-6 col-md-6 col-sm-5 col-xs-4">
                        tu i tak nie jest nic wrzucany tylko do div w ktorym to jest zagniezdzone
                    </div>*@
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="http://www.youtube.com/player_api"></script>
    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    @Scripts.Render("~/bundles/myScripts")
}
