﻿
<div class="input-group col-lg-6 col-md-6 col-sm-7 col-xs-8">
    <form id="audioVideoForm" method="post" action="">
        
        <label class="control-label">Daj linka</label>
        <div id="buttonDivContainer">
            <input type="text" name="url0" class="form-control">
            <span class="input-group-btn">
                <button id="addNewInputButton" class="btn btn-default" type="button">dodaj kolejny link!</button>
            </span>
        </div>
        @*<div class="input-group">
            <span class="input-group-btn">
                <button id="clearData" class="btn btn-warning" type="button">wyczyść filmiki poniżej</button>
            </span>
        </div>*@
        <div class="help-block">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" id="Embedded">Embedded video</button>
                    <button type="button" class="btn btn-primary" id="audio">Download audio</button>
                </div>               
            </div>
            <div class="alert alert-warning">Do ściągnięcia się nadają filmiki do około 10 minut </div>
        </div>
    </form>
</div>






