﻿@model muza.Models.YoutubeModel

<audio controls>
    @*<source src="@Url.Action("PlayRawAudio","Youtube", new {url = Model.url})" type="audio/wav" />*@
    <source src="/Youtube/PlayRawAudio?url=@Model.url" type="audio/wav" />
</audio>




