﻿@using muza.Helpers
@model IEnumerable<muza.Models.YoutubeModel>


@foreach (var item in Model)
{
    if (!string.IsNullOrWhiteSpace(item.result))
    {
        <div class="jumbotron" id="player@(Model.IndexOf(item))Container">
            <h3>@item.title </h3>
            <p>@item.url</p>
            <p>@Html.Raw(item.result)</p>
        </div>
    }
}
@*<div class="jumbotron" id="player@(Model.IndexOf(item))">
    <h3>@item.title </h3>
    <p>@item.url</p>
    <p>@Html.Raw(item.result)</p>
</div>*@